<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1055245686851-rqqgoe3raoffcsev5il455mjfbj4gcv1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1055245686851-rqqgoe3raoffcsev5il455mjfbj4gcv1</string>
	<key>API_KEY</key>
	<string>AIzaSyDcVciUSwMl_RlcgNB3R2W3EnbpsMjuAV0</string>
	<key>GCM_SENDER_ID</key>
	<string>1055245686851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ethan.KoreaTravelMasterApp</string>
	<key>PROJECT_ID</key>
	<string>realpockettrip</string>
	<key>STORAGE_BUCKET</key>
	<string>realpockettrip.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055245686851:ios:c9991e4a066dd6037d5cf6</string>
</dict>
</plist>